.jack-header {
    position: relative;
    z-index: 101;
    color: #fff;
    background: #181E29;
    line-height: 40px;
}
.jack-header .header-l {
    font-size: 12px;
    float: left;
}
.jack-header *, .jack-nav *, .jack-foot * {
    box-sizing: border-box;
}
.jack-header .header-l .header-l-a {
    color: #fff;
    margin-right: 14px;
}
.jack-header .header-r {
    float: right;
}
.jack-header .header-r .header-vip-1 {
    background: url(../images/home/1.png) no-repeat center center;
    background-size: 100%;
}
.jack-header .header-r .header-vip {
    width: 48px;
    height: 36px;
    cursor: default;
}
.jack-header .header-r .header-drop {
    height: 43px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0 8px;
}
.jack-header .header-r .header-drop-a {
    height: 43px;
    font-size: 14px;
    color: #fff;
}
.jack-header .header-r .header-person {
    width: 13px;
    height: 16px;
    background: url(../images/home/header-member.png) no-repeat;
}
.jack-header .header-r .header-user {
    position: relative;
    margin-left: 2px;
}
.header-message {
    position: absolute;
    right: -14px;
    top: 2px;
    min-width: 14px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    background: #C02828;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    font-size: 11px;
    display: inline-block;
    padding: 0 3px;
}
.jack-header .header-r .header-drop .arrow-down {
    margin-left: 6px;
    width: 11px;
    height: 6px;
    background: url(../images/home/arrow-down.png) no-repeat;
    -webkit-transition: all 0.3s 0.15s;
    -moz-transition: all 0.3s 0.15s;
    -ms-transition: all 0.3s 0.15s;
    -o-transition: all 0.3s 0.15s;
    transition: all 0.3s 0.15s;
}
.bar-drop {
    position: absolute;
    line-height: 1.5;
    font-size: 12px;
    width: 170px;
    padding-top: 0;
    left: 0;
    opacity: 0;
    transition: all .3s;
    top:27px;
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);
}
.bar-drop .nav-wrap {
    text-align: center;
    padding-top: 15px;
}
.nav-drop{
    display:none;
}
.nav-drop .nav-wrap {
    position: relative;
    border: 1px solid #e45b5d;
    background: #FFF;
    text-align: left;
    top: 15px;
}
.bar-drop .my-name {
    text-align: left;
    margin-bottom: 15px;
    font-size: 13px;
    padding: 0 20px;
    color: #454545;
}
.bar-drop .header-col {
    color: #e45b5d;
    font-size: 14px;
}
.bar-drop .bar-box {
    margin-bottom: 8px;
}
.bar-box .bar-link {
    font-size: 14px;
    line-height: 30px;
}
.bar-drop .play-pos {
    position: relative;
}
.bar-drop .bar-link .header-message {
    right: -15px;
    top: -5px;
}
.bar-box .bar-link:nth-child(2) {
    margin-left: 20px;
}
.bar-drop .bar-link .bar-exit {
    margin-left: 6px;
}
.jack-header .header-r .header-line {
    color: #404040;
    font-size: 18px;
    font-weight: 200;
}
.jack-header .header-r .wallet {
    font-size: 14px;
}
.jack-header .header-r .header-money {
    font-size: 18px;
    color: #FFF;
    font-weight: 400;
}
.jack-header .header-r .header-money {
    font-size: 18px;
    color: #FFF;
    font-weight: 400;
}
.jack-header .header-r .refresh {
    width: 18px;
    height: 18px;
    background: url(../images/home/refresh.png) no-repeat;
    margin-left: 6px;
}
.jack-header .header-r .header-btn {
    background: #505050;
    line-height: 18px;
    padding: 4px 10px;
    border-radius: 2px;
    color: #FFF;
    margin: 0 1px;
    font-size: 12px;
    position: relative;
    top: -1px;
}
.header-server {
    position: relative;
    margin-left: 15px;
    width: 91px;
    height: 27px;
    /* background: url(../global-v3/server-hover.png) no-repeat; */
    cursor: pointer;
}
.header-server .online-server-logo {
    width: 28px;
    height: 27px;
    background: url(../images/home/online-server-logo.png) no-repeat;
    float: left;
}
.header-server .online-server-lab {
    float: left;
    width: 63px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    color: #FFF;
    font-size: 12px;
}
.jack-header .header-r .header-btn:hover {
    background: #ff5656;
}
.header-server .online-server-lab:hover {
    color: #ff5656;
}
.jack-header .header-l .header-l-a:hover {
    color: #ccc;
}
.bar-drop a.bar-link:hover {
    color: #e45b5d;
}
.bar-drop .login-time {
    padding:10px 0;
    color: #757575;
    border-top: 1px solid #e45b5d;
}
.nav-drop .nav-wrap:before, .nav-drop .nav-wrap:after {
    content: '';
    display: block;
    position: absolute;
    left: 51px;
    border: 6px solid transparent;
}
.bar-drop .nav-wrap:before,
.bar-drop .nav-wrap:after {
    left: 50%;
    margin-left: -6px;
}
.nav-drop .nav-wrap:before {
    top: -12px;
    border-bottom: 6px solid #e45b5d;
}
.jack-header span, .jack-header a, .jack-header img, .jack-nav span, .jack-nav a, .jack-nav img, .jack-foot span, .jack-foot a, .jack-foot img {
    display: inline-block;
    vertical-align: middle;
}
.jack-nav {
    position: relative;
    z-index: 100;
    box-shadow: 0 3px 10px rgba(68, 68, 68, 0.38);
}
.jack-nav-bg {
    background: #FFF;
    position: relative;
    z-index: 2;
    border-bottom: 2px solid #ff5656;
}
.jack-nav .nav-l {
    float: left;
    padding-top: 10px;
}
.logo-lab {
    float: right;
    height: 60px;
    margin-left: 10px;
    font-size: 20px;
    font-family: "Microsoft YaHei";
}
.platform-name-canvas {
    position: relative;
    width: 95px;
    height: 25px;
}
.platform-name-canvas .platform-name {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/home/platform-name.png) no-repeat;
}
.domain-name-canvas {
    position: relative;
    width: 95px;
    height: 14px;
}
.domain-name-canvas .domain-name {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/home/domain.png) no-repeat;
}
.jack-nav .nav-r {
    width:calc(100% - 270px);
    float: right;
    font-size: 17px;
}
.jack-nav .nav-r .nav-li {
    position: relative;
    float: left;
    text-align: center;
    cursor:pointer;
}
.jack-nav .nav-r .nav-li {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height: 86px;
}
.jack-nav .nav-r .nav-li:first-child .nav-a {
    width: 150px;
    /* color: #454545; */
}
.jack-nav .nav-r .nav-text {
    display: inline-block;
    vertical-align: middle;
}
.jack-nav .nav-r .nav-center .text-1 {
    font-size: 17px;
    font-family: "Microsoft YaHei";
}
.jack-nav .nav-r .nav-a {
    height: 82px;
    padding-top: 28px;
    width: 110px;
    color: #454545;
}
.down-menu .down-wrap {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.jack-nav .nav-r .nav-active {
    float: right;
    padding-top: 20px;
}
.jack-nav .nav-r .nav-active .nav-monery {
    display: inline-block;
    width: 110px;
    height: 36px;
    background: url(../images/home/monerybtn.png) center no-repeat;
    background-size: contain;
}
.nav-menu {
    position: absolute;
    top: 86px;
    left: 0;
    width: 100%;
    height:0;
    background: #FFF;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    padding:0;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(68, 68, 68, 0.38);
    border-bottom: 2px solid #FF5656;
    z-index: -1;
}
.nav-li-first:hover .nav-menu {
    padding:30px 0 ;
    opacity: 1;
    height:auto;
}
.number-con {
    float: left;
    padding-left: 30px;
}
.number-con .com-title {
    font-size: 16px;
    color: #FF5656;
    font-family: "Microsoft YaHei";
    padding-left: 10px;
}
.play-sort li {
    display: inline-block;
}
.nav-lottery .number-con .play-sort li {
    width: 104px;
    float: left;
}
.nav-lottery .number-con:first-child .play-sort li {
    width: 116px;
}
.play-sort {
    text-align:left;
}
.play-sort .play-link, .nav-sort .play-link {
    position: relative;
    line-height: 25px;
    font-size: 13px;
    font-family: "Microsoft YaHei";
    width: 100px;
    padding-left: 10px;
}
.nav-menu .play-link {
    padding: 0 5px;
    border-radius: 8px;
}
.number-con {
    float: left;
    padding-left: 30px;
}
.nav-lottery .number-con {
    padding-left: 10px;
}
.nav-lottery .number-con:first-child {
    width: 220px;
}
.nav-lottery .number-con:nth-child(2) {
    width: 220px;
}
.nav-lottery .number-con:nth-child(3) {
    width: 220px;
}
.nav-lottery .number-con:nth-child(4) {
    width: 100px;
}
.nav-lottery .number-con:nth-child(5) {
    width: 120px;
}
.nav-lottery .number-con:nth-child(6) {
    width: 100px;
}
.nav-lottery .number-con:last-child .play-sort {
    border-right: none;
}
.nav-menu-hov {
    top: 100%;
    opacity: 1;
}
.nav-sort li:hover .play-link {
    color: #FFF;
    transition: all 0s;
}
/*.nav-sort li:hover .play-link:hover {*/
/*  background-color: transparent;*/
/*}*/
.nav-sort .play-link:hover {
    background: #ff5656;
}
.nav-sort {
    font-size: 0;
    padding: 15px;
}
.nav-sort li {
    width: 95px;
    display: inline-block;
    text-align: center;
}
.play-sort .play-link, .nav-sort .play-link {
    position: relative;
    line-height: 25px;
    font-size: 13px;
    text-align:center;
    font-family: "Microsoft YaHei";
}
.play-link {
    padding: 0 10px;
    border-radius: 8px;
}
.nav-drop.on-transform,
.nav-li .nav-drop.on-transform{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.arrow-down.on-transform{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.nav-li  .nav-drop{
    width:225px;
    position: absolute;
    left: 0;
    opacity: 0;
    display:block;
    transition: all .3s;
    top:75px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
}
.jack-nav .nav-r .nav-li:hover,
.play-sort .play-link:hover{
    background:#FF5656;
}
.jack-nav .nav-r .nav-li:hover .text-1,
.play-sort .play-link:hover{
    color:#fff;
}
.unread-msg-num {
    position: absolute;
    display: inline-block;
    height: 16px;
    min-width: 16px;
    line-height: 16px;
    border-radius: 3px;
    background-color: #FF5656;
    color: #FFF;
}